{% extends 'main/baseCode.html' %}

{% block title %} 
    Description
{% endblock %}

{% block content %} 
    
        <h1>Description</h1>
        <p>Ce site est réalisé sous le système d'exploitation Windows, un environnement de développement intégré - Visual Studio Code, un cadriciel - Django.</p>
        <p>Le site est la liste de tâches. Les tâches sont présentées sur une seule page. 
        Sur une autre page se trouve un formulaire avec un enregistrement de la tâche, sur la troisième - des instructions.</p>
        <p>Les tâches enregistrées sont stockées dans la base de données. Sur la page, les tâches sont affichées de la nouvelle à l'ancienne.</p>
    
{% endblock %}
    