{% extends 'main/baseCode.html' %}

{% block title %} 
{{ title }}
{% endblock %}

{% block content %} 
    <h1>Les tâches</h1>
    <table>
        <tr>
            <th>Tâche</th>
            <th>Description</th>
        </tr>
            {% if tasks %} <!--Cheking the presence of the tasks--> 
                {% for element in tasks %}
                    <tr>
                        <td><h4>{{ element.title }}</h4></td>
                        <td><p>{{ element.task }}</p></td>
                    </tr>
                {% endfor %}
                {% else %}
                    <p>Il n'a pas de tâches</p>
            {% endif %}
    </table>
{% endblock %}
  